@model IEnumerable<PointCounting.Models.Player>

@{
    ViewBag.Title = "Index";
}

<style>
    .score-button {
        width: 70px;
        height: 30px;
        border: none;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .add-one-score {
        background-color: lightgreen;
    }

    .add-two-score {
        background-color: limegreen;
    }

    .add-three-score {
        background-color: forestgreen;
    }

    .negative-score {
        background-color: lightcoral;
    }

</style>

<h2 style="text-align: center; width: 50%;">Counting Score</h2>

<p>
    @Html.ActionLink("Add Players", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>Actions</th>
        <th></th>
        <th>Edit Score</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PlayerId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PlayerId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PlayerId })
        </td>
        <td>
            <form action="~/Player/UpdateScore" method="post">
                <input type="hidden" name="id" value="@item.PlayerId" />
                <input type="hidden" name="score" value="+1" />
                <input type="submit" value="+1" class="score-button add-one-score" />
            </form>

            <form action="~/Player/UpdateScore" method="post">
                <input type="hidden" name="id" value="@item.PlayerId" />
                <input type="hidden" name="score" value="-1" />
                <input type="submit" value="-1" class="score-button negative-score" />
            </form>
        </td>
        <td>
            <form action="~/Player/UpdateScore" method="post">
                <input type="hidden" name="id" value="@item.PlayerId" />
                <input type="hidden" name="score" value="+2" />
                <input type="submit" value="+2" class="score-button add-two-score" />
            </form>

            <form action="~/Player/UpdateScore" method="post">
                <input type="hidden" name="id" value="@item.PlayerId" />
                <input type="hidden" name="score" value="-2" />
                <input type="submit" value="-2" class="score-button negative-score" />
            </form>
        </td>
        <td>
            <form action="~/Player/UpdateScore" method="post">
                <input type="hidden" name="id" value="@item.PlayerId" />
                <input type="hidden" name="score" value="+3" />
                <input type="submit" value="+3" class="score-button add-three-score" />
            </form>

            <form action="~/Player/UpdateScore" method="post">
                <input type="hidden" name="id" value="@item.PlayerId" />
                <input type="hidden" name="score" value="-3" />
                <input type="submit" value="-3" class="score-button negative-score" />
            </form>
        </td>
    </tr>
}

</table>
